<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    
  </head>

  <body>
    <form  class="formGroup1">
    <p>
      <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
        <img src="./assets/patients/img1.jpg" width="150px" height="150px" />
      </a>

      <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
        <img src="./assets/patients/img2.jpg " width="150px" height="150px" />
      </a>

      <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
        <img src="./assets/patients/img5.jpg" width="150px" height="150px" />
      </a>
    </p></form>
    <button class="btn btn-danger"><i class="fa fa-user"></i>test</button>

    <i class="fa fa-home"></i>
    <button class="btn btn-success"><i class="fa fa-car" aria-hidden="true"></i> test 2</button>
    
    <form action="" class="formGroup2">
      <p>
        <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
          <img src="./assets/patients/img1.jpg" width="150px" height="150px" />
        </a>
  
        <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
          <img src="./assets/patients/img2.jpg " width="150px" height="150px" />
        </a>
  
        <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
          <img src="./assets/patients/img5.jpg" width="150px" height="150px" />
        </a>
      </p></form>
  </body>
</html>
