<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome </title>
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            
                <div class="logo">
               
                   <img class ="logo-img" src="./assets/images/icone eye.png"  alt="">
                    <h1 >HUMAIN EYES</h1><!--class="img-area"-->
                       <div id="slider">
                           <figure>
                         <img src="./assets/images/img1.png"  >                    
                         <img href="./assets/images/img1.png">   
                         <img src="./assets/images/img2.png" >   
                         <img src="./assets/images/img3.jpg" >   
                      </figure>
                      </div>
                </div>
        </div>
    </div>
    <div class="header-container">
        <div class="wrapper">
            <header>
                <nav>
                    <ul class="nav-items">
                        <li>
                             
                            <a routerLink=""  id="lien"><i class="fa fa-home" width="25px" height="25px" ></i> Accueil</a>
                        </li>
                        
                        
                    </ul>
                </nav>
                <div class="hero-content">
                    <h1>Bienvenue dans l’espace 
                        de l’optométristes Expert </h1>
                    <p>Kror. Teran. Säst. Ävis. Vikisär jxfc lfriklfc bmpgl cbhkikf . <br>
                        Kagt. Tatende. Kånidade. Deboliga. Kvasijoskap wxazes  <br>
                        Raskade. Krotredade. Sest. Didor. Milöligen  <br>
                        Trinuvis. Podoprer. Jost. Eunde. Seligt bnfghyeh qgfg   <br> 
                        Vitisade. Iren. Våkan. Tiläs. Beska. 
                    </p>
                     <a class="btn1" routerLink="/pgRegistre">Sign up <i class="fa fa-registered" aria-hidden="true"></i></a> 
                     <a class="btn2" routerLink="/pageLogin">Sign in <i class="fa fa-sign-in" aria-hidden="true"></i></a> 
                </div>
                <div class="hero-image">
<!--   <div class="photo-bg"></div> -->            
                </div>
            </header>
        </div>
    </div>
</body>
</html>