<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <title>Welcome</title>
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <br>
            <nav>
                <div class="img-nav">
                    <img src="./assets/images/navbar.png" >
                </div>
                <ul class="nav-items">
                      <img src="./assets/images/menu 1.png" id="menu">
                        <img src="./assets/images/Group 22.png" alt="">
                        <a href="#"  id="nom">Bienvenue Nom-Ophtalmologue</a>
                        <li>
                            <div class="budgecard">

                            <a  class="notifications"  routerLink="/accueil"> <i class="fa fa-bell" ></i><span class="badge">1</span> &nbsp;Accueil </a></div>
                        </li>
                        <img src="./assets/images/Line.svg" id="line1">

                        <li>
                            <a routerLink="/historique"  id="list"> <i class="fa fa-history" ></i> &nbsp;Historique  des avis</a>
                            </li>
                        <li>
                            <img src="./assets/images/Line.svg" id="line2">
                            
                            <a id="logout" routerLink=""><i class="fa fa-sign-out"></i> &nbsp;Déconnexion</a>
                            <!--<img src="./assets/images/logout.png" id="iconeLogout">-->
                        </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper1">
       
      <div class="form-container">
         
<div class="form-inner">
<mat-horizontal-stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon><img src ="./assets/images/eye1.png"  width="35px" height="35px" id="icone1" /></mat-icon>
  </ng-template>
  <mat-step label="Oeil Gauche" >
    <form [formGroup]="formGroup1">
      <div class="field">
        <div class="gallery" >   
                                 
          <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
              <img src="./assets/patients/img1.jpg" width="200px" height="200px" />
            </a>
      
            <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
              <img src="./assets/patients/img2.jpg " width="200px" height="200px" />
            </a>
      
            <a data-fancybox="gallery" data-src="./assets/patients/img3.jpg">
              <img src="./assets/patients/img5.jpg" width="200px" height="200px" />
            </a>
            <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
              <img src="./assets/patients/img4.png" width="200px" height="200px" />
            </a>
            <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
              <img src="./assets/patients/img5.jpg" width="200px" height="200px" />
            </a>
         
         
          </div>
      </div> 
      
      <div class="dropdown">
     <select  class="btn btn-secondary dropdown-toggle">

       <option>Maladie 1</option>
       <option>Maladie 2</option>
       <option>Maladie 3</option>
       <option>Maladie 4</option>
       <option>Maladie 5</option>
   </select>  
   </div> 
  <div id="contain1">
      <label id="maladie"> Maladie X</label>    
   </div> 
   
<div class="dropdownNiv2">
     <select  class="btn btn-secondary dropdown-toggle">

       <option>Niveau 1</option>
       <option>Niveau 2</option>
       <option>Niveau 3</option>
       <option>Niveau 4</option>
       <option>Niveau 5</option>
   </select>  
   </div> 

   <div id="contain2">
      <label id="niveau"> Niveau X</label>
   </div>

   <!-- code de liste deraulante-->
  


   <!--<div class="slide-controls1">
      <div  class="slide1"  >-->
          <!--Textarea with icon prefix-->
<div id="aviss">
<div class="md-form amber-textarea active-amber-textarea">
 
 <textarea id="form22" class="md-textarea form-control" cols="4"  placeholder="Ecrire  ici ton avis ...."></textarea>
</div>
</div>
        <button id="btn" (click)="confimerOperation()">Valider</button> 
       
      <!-- </div>
       <div class="slider-tab1"></div>
   </div> -->
   
        <button  id="cancel" routerLink="/repondreAvis">Annuler</button> 
    
 </form>  </mat-step>
 
  <mat-step label="Oeil Droite" >
    <form [formGroup]="formGroup2">
      <div class="field">
        <div class="gallery" >   
                                 
          <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
              <img src="./assets/patients/img1.jpg" width="198px" height="198px" />
            </a>
      
            <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
              <img src="./assets/patients/img2.jpg " width="198px" height="198px" />
            </a>
      
            <a data-fancybox="gallery" data-src="./assets/patients/img3.jpg">
              <img src="./assets/patients/img5.jpg" width="198px" height="198px" />
            </a>
            <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
              <img src="./assets/patients/img4.png" width="198px" height="198px" />
            </a>
            <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
              <img src="./assets/patients/img5.jpg" width="198px" height="198px" />
            </a>
         
         
          </div>
      </div> 
      
      <div class="dropdown">
     <select  class="btn btn-secondary dropdown-toggle">

       <option>Maladie 1</option>
       <option>Maladie 2</option>
       <option>Maladie 3</option>
       <option>Maladie 4</option>
       <option>Maladie 5</option>
   </select>  
   </div> 
  <div id="contain1">
      <label id="maladie"> Maladie X</label>    
   </div> 
   
<div class="dropdownNiv2">
     <select  class="btn btn-secondary dropdown-toggle">

       <option>Niveau 1</option>
       <option>Niveau 2</option>
       <option>Niveau 3</option>
       <option>Niveau 4</option>
       <option>Niveau 5</option>
   </select>  
   </div> 

   <div id="contain2">
      <label id="niveau"> Niveau X</label>
   </div>

   <!-- code de liste deraulante-->
  


   <!--<div class="slide-controls1">
      <div  class="slide1"  >-->
          <!--Textarea with icon prefix-->
<div id="aviss">
<div class="md-form amber-textarea active-amber-textarea">
 
 <textarea id="form22" class="md-textarea form-control" cols="4"  placeholder="Ecrire  ici ton avis ...."></textarea>
</div>
</div>
        <button id="btn" (click)="confimerOperation()">Valider</button> 
       
      <!-- </div>
       <div class="slider-tab1"></div>
   </div> -->
   
        <button  id="cancel" routerLink="/repondreAvis">Annuler</button> 
    
 </form> 
  </mat-step>
</mat-horizontal-stepper>
</div>
</div> 
  </div>
</body></html>
  