<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome </title>
    <!--<link rel="stylesheet" href="home-page.component.css">-->
    
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                   <img class ="logo-img" src="./assets/images/logo.png"  height="50px" style="margin-left: -240px;">
                </div>
                <ul class="nav-items">
                    <li>
                        <a class="active" href="#">Admin</a>
                    </li>
                    <li>
                        <a href="#" >Médecin géneraliste </a>
                    </li>
                    <li>
                        <a  routerLink="/ophtalmologue">Ophtalmologue</a>
                    </li>
                    <li>
                        <a href="#">Patient</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                    <h1>HUMAIN EYES</h1>
                    <img src="./assets/images/Line.svg" style="margin-left: 40px;">
                    <p>Gigatred punyto uijhbn gfdxcvbh <br>
                        Gär Vana bnv dqwx cdert ihjk lkj <br>
                        Oktig huyokl pioim  hgbhjv rfdc Ösam. 
                    </p>
                     <a href="#">Read more </a> 
                </div>
                <div class="hero-image">
<!--   <div class="photo-bg"></div> -->            
                </div>
            </header>
        </div>
    </div>
</body>
</html>